*
{

    margin: 0;
    padding: 0;

}

body
{

    width: 100vw;
    height: 100vh;
    
}

header
{

    width: 100vw;
    height: 60px;

}

nav
{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

a
{

    text-decoration: none;
    
}

ul
{

    display: flex;
    gap: 20px;

}

li
{

    list-style: none;

}